.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

/* Write CSS code here. */
.card-item {
  margin-top: 40px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #ffffff;
  margin-right: 50px;
}

.heading {
  text-align: left;
  font-size: 22px;
  color: #171f46;
  margin-left: 35px;
  margin-top: 50px;
}

.desc {
  color: #64748b;
  margin-left: 30px;
  font-size: 16px;
  width: 50vh;
}

.imgDetails {
  width: 70px;
}

.img-container {
  display: flex;
  justify-content: flex-end;
}
